.App {
  position: relative;
  overflow-x: clip;
  background-color: #F6F4F2; /* Updated background color */
}

.App > :nth-child(1) {
  background: #425664; /* Updated background color */
  position: relative;
}

.white-gradient {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: rgba(255, 255, 255, 0.522);
  filter: blur(100px);
  border-radius: 100px;
  background: #C6AD8F; /* Updated background color */
}
