.properties-container {
    gap: 2rem;
  }
  
  .properties-container .search-bar {
    width: clamp(12rem, 100%, 28rem);
    border-radius: 30px;
    border: 1px solid rgba(120, 120, 120, 0.374);
    flex-wrap: nowrap;
    background-color: #F6F4F2; /* Updated background color */
  }
  
  .properties-container .search-bar .button {
    border-radius: 30px;
    font-size: 12px;
    padding: 10px 15px;
    background: var(--blue-gradient); /* Updated button background color */
    color: white;
    border: none;
  }
  
  .properties-container .search-bar input {
    width: 70%;
    border: none;
    padding: 10px;
    border-radius: 30px;
    outline: none;
  }
  
  .properties-container .search-bar input:focus {
    border: 2px solid var(--blue-gradient); /* Updated focus border color */
  }
  